.about__main {
  padding: 1px;
  margin: 0;
}

.about__mainwindow {
  background-color: #edf5e1;
  box-shadow: 0 4px black;
  color: black;
  width: 750px;
  padding-top: 1px;
  height: 435px;
  margin: 140px auto;
  border-radius: 10px;
  padding-top: 10px;
  text-align: center;
  border: 20px solid #379683;
}

.about__mainwindow h1, h2 {
  display: inline-block;
  background-color: #5cdb95;
  margin: 10px 0 0 0;
  padding: 4px;
  border-radius: 10px;
}

.about__text {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-left: 100px;
}

.about__text span {
  color: #1b8beb;
}

@media screen and (max-width: 800px) {
  .about__mainwindow {
    width: 580px;
  }
  .about__text {
    padding-left: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .about__mainwindow {
    width: 500px;
  }
  .about__text {
    padding-left: 30px;
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .about__mainwindow {
    width: 450px;
  }
  .about__text {
    padding-left: 30px;
    font-size: 13px;
  }
}


@media screen and (max-width: 500px) {
  .about__mainwindow {
    width: 400px;
  }
  .about__text {
    padding-left: 40px;
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .about__mainwindow {
    width: 280px;
  }
  .about__mainwindow h1, h2 {
    font-size: 12px;
  }
  .about__text {
    padding-left: 20px;
    font-size: 9px;
  }
}
