.about__main {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

.about__border {
  background-color: #17202A;
	box-shadow: 0 4px black;
  width: 800px;
  min-width: 390px;
  height: 460px;
  padding-top: 23px;
  margin: 200px auto;
  border-radius: 10px;
}

.about__mainwindow {
  background-color: #212F3C;
  color: #D35400;
  width: 750px;
  min-width: 390px;
  padding-top: 1px;
  height: 415px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  text-shadow: 0 2px black;
}

.about__text {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  padding-left: 50px;
}
