.header {
  background-color: #1e1e1e;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header__logo {
  float: left;
  color: white;
  margin-right: 30px;
  margin-left: 20px;
}

.nav__wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.nav__item {
  float: left;
}

.nav__item .nav__link {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}

.nav__item .nav__link:hover:not(.active) {
  background-color: #F39C12;
  color: #F5F5F5;
}

.active {
  background-color: #D35400;
}
