* {
	margin: 0;
	padding: 0;
	font-family: Arial, tahoma, sans-serif;
	box-sizing: border-box;
}

body {
	background: #03365b;
}

.chatbox {
	width: 900px;
	min-width: 390px;
	height: 630px;
	background: #379683;
  padding-top: 25px;
	margin: 30px auto 30px;
	box-shadow: 0 4px #202020;
  border-radius: 5px;
}

.chatlogs {
	padding: 5px;
	width: 100%;
	height: 520px;
	overflow-x: hidden;
	overflow-y: scroll;
  background-color: #edf5e1;
  border-radius: 1px;
}

.chatlogs::-webkit-scrollbar {
	width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
	background: #379683;
}

.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin: 0 0 8px 20px;
}

.chat .addspace {
	width: 300px;
}

.chat .chat-message {
	width: 60%;
	padding: 10px 15px 10px 15px;
	margin: 5px 10px 0;
	border-radius: 5px;
	color: #000;
	font-size: 20px;
  word-wrap: break-word;
}

.friend .chat-message {
	background: #5cdb95;
  order: -1;
}

.self .chat-message {
	color: #fff;
	background: #3b8beb;
}

.chat-form {
	margin: 22px 5px 20px 30px;
	display: flex;
	align-items: flex-start;
}

.chat-form textarea {
	background: #fff;
	width: 88%;
	height: 45px;
	padding: 12px 5px 0 8px;
	font-size: 18px;
	color: #000;
  resize: none;
  border: none;
}

.chat-form button {
	background: #1BBC9B;
  height: 45px;
  padding: 0 15px 0 15px;
	font-size: 25px;
	color: #fff;
	margin: 0 20px 10px 30px;
	border: none;
	cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 17px;
}

.chat-form button:hover {
	background: #26C281;
}
